In [2]:
import pandas as pd

In [7]:
restaurants = pd.read_csv('./data/main_data.csv', engine='python');
restuarants = restaurants.drop(columns = 'Unnamed: 0')
restuarants

,Name,Cuisine Style,Rating,Price Range,Reviews,URL_TA
0,Bar 61 Restaurant,"['Mediterranean', 'European', 'Spanish', 'Vege...",4.827224,2.0,"'A Gem of a Tapas Bar!', 'Very good', '', ''",/Restaurant_Review-g186338-d1316206-Reviews-Ba...
1,The Five Fields,"['European', 'British', 'Contemporary', 'Veget...",4.756441,3.0,"'Special Dining Experience', 'Top restaurant',...",/Restaurant_Review-g186338-d3853609-Reviews-Th...
2,The Golden Chippy,"['Seafood', 'Fast Food', 'British']",4.735919,1.0,"'Best in London! Best food, best guys!', 'The ...",/Restaurant_Review-g186338-d5244301-Reviews-Th...
3,Liman Restaurant,"['Mediterranean', 'European', 'Turkish', 'Midd...",4.721511,2.0,"'A good experience', 'Excellent Establishment ...",/Restaurant_Review-g186338-d10444968-Reviews-L...
4,The Clink Restaurant,"['European', 'British', 'Contemporary', 'Veget...",4.614146,2.0,"'Weird but such a good experience!', 'Fantasti...",/Restaurant_Review-g186338-d6635485-Reviews-Th...
...,...,...,...,...,...,...
11619,Mr Wu,"['Chinese', 'Asian']",3.083372,1.0,"'Disappointing', 'Re visit after months', '', ''",/Restaurant_Review-g186338-d1750568-Reviews-Mr...
11620,Il Padrino,['Italian'],2.993493,2.0,"'Tourist food', 'Ordinary food', '', ''",/Restaurant_Review-g186338-d2318634-Reviews-Il...
11621,ristorante vecchiomondo,"['Italian', 'Pizza']",2.964005,2.0,"'Strange', 'Rip off', '', ''",/Restaurant_Review-g186338-d2251400-Reviews-Ri...
11622,Kowloon,"['Chinese', 'Asian']",2.940829,1.0,"'It will hurt you later', 'Time to move on...'...",/Restaurant_Review-g186338-d680452-Reviews-Kow...
11623,Bollywood Brasserie,"['Indian', 'Asian', 'Vegetarian Friendly']",2.904544,2.0,"'Mrs', 'Overpriced', '', ''",/Restaurant_Review-g186338-d2141705-Reviews-Bo...

In [10]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfv = TfidfVectorizer(min_df = 3,  max_features = None, strip_accents='unicode', 
                          analyzer='word', ngram_range=(1, 3),
                          stop_words = 'english'
                         )
restaurants['Reviews'] = restaurants['Reviews'].fillna('')
restaurants['Cuisine Style'] = restaurants['Cuisine Style'].fillna('')

In [13]:
from sklearn.metrics.pairwise import sigmoid_kernel
#For review
X = tfv.fit_transform(restuarants['Reviews'])
Y = tfv.fit_transform(restuarants['Cuisine Style'])

In [14]:
sig = sigmoid_kernel(X, X)

In [ ]:
sig2 = sigmoid_kernel(Y, Y)

In [16]:
sig[0]
indices = pd.Series(restaurants.index, index=restaurants['Name']).drop_duplicates()
indices

Name
Bar 61 Restaurant              0
The Five Fields                1
The Golden Chippy              2
Liman Restaurant               3
The Clink Restaurant           4
                           ...
Mr Wu                      11619
Il Padrino                 11620
ristorante vecchiomondo    11621
Kowloon                    11622
Bollywood Brasserie        11623
Length: 11624, dtype: int64

In [19]:
def give_rec(title, sig=sig2):
    idx = indices[title]
    
    sig_scores = list(enumerate(sig[idx]))
    
#     sig_scores2 = list(enumerate(sig2[idx]))
    
#     print(sig_scores1[1].apply(lambda x: x*0.6))
    
#     sig_scores = (sig_scores2[0] * 0.6) + (sig_scores1[0] * 0.4)
    sig_scores = sorted(sig_scores, key=lambda x: x[1], reverse=True)
    
    sig_scores = sig_scores[1:11]
    
    res_indices = [i[0] for i in sig_scores]
    
    return restuarants['Name'].iloc[res_indices]

In [21]:
give_rec('Il Padrino')

2351                     Pasta Sereni
2661                         Sorrento
2859                       Pasta Boys
3095                        Mamma Mia
3198                   Camisa And Son
3276    Silvia of the Aesthetic Plate
3285                Volare Restaurant
3502                           Nyokee
3503         Via Emilia by FOOD ROOTS
3604                     Bella Italia
Name: Name, dtype: object