In [2]:
import pandas as pd
import numpy as np
import math

In [4]:
restaurants = pd.read_csv('../data/TA_restaurants_curated.csv', engine='python');
restaurants = restaurants.drop(columns = ['ID_TA', 'Ranking', 'Unnamed: 0'])
features = restaurants.columns.values

In [5]:
price = restaurants['Price Range']

In [6]:
restaurants['Price Range'] = restaurants['Price Range'].replace('$$$$', 3)
restaurants['Price Range'] = restaurants['Price Range'].replace('$$ - $$$', 2)
restaurants['Price Range'] = restaurants['Price Range'].replace('$', 1)

In [7]:
restaurants.head()

,Name,City,Cuisine Style,Rating,Price Range,Number of Reviews,Reviews,URL_TA
0,Martine of Martine's Table,Amsterdam,"['French', 'Dutch', 'European']",5.0,2.0,136.0,"[['Just like home', 'A Warm Welcome to Wintry ...",/Restaurant_Review-g188590-d11752080-Reviews-M...
1,De Silveren Spiegel,Amsterdam,"['Dutch', 'European', 'Vegetarian Friendly', '...",4.5,3.0,812.0,"[['Great food and staff', 'just perfect'], ['0...",/Restaurant_Review-g188590-d693419-Reviews-De_...
2,La Rive,Amsterdam,"['Mediterranean', 'French', 'International', '...",4.5,3.0,567.0,"[['Satisfaction', 'Delicious old school restau...",/Restaurant_Review-g188590-d696959-Reviews-La_...
3,Vinkeles,Amsterdam,"['French', 'European', 'International', 'Conte...",5.0,3.0,564.0,"[['True five star dinner', 'A superb evening o...",/Restaurant_Review-g188590-d1239229-Reviews-Vi...
4,Librije's Zusje Amsterdam,Amsterdam,"['Dutch', 'European', 'International', 'Vegeta...",4.5,3.0,316.0,"[['Best meal.... EVER', 'super food experience...",/Restaurant_Review-g188590-d6864170-Reviews-Li...

In [8]:
cities = restaurants['City'].unique()

In [9]:
cities
print(restaurants.shape)

(125527, 8)

In [10]:
London = restaurants.loc[restaurants['City'] == 'London']
print(London.shape, London.columns.values)

(18212, 8) ['Name' 'City' 'Cuisine Style' 'Rating' 'Price Range' 'Number of Reviews'
 'Reviews' 'URL_TA']

In [11]:
LdnData = London.drop(columns = ['City', 'URL_TA'])

In [12]:
LdnData = LdnData.sort_values(by=['Price Range', 'Number of Reviews'], ascending=False);

In [13]:
LdnData.head()

,Name,Cuisine Style,Rating,Price Range,Number of Reviews,Reviews
46329,Aqua Shard,"['European', 'British', 'Contemporary', 'Veget...",4.0,3.0,12910.0,"[['Lunch at the Aqua', 'Elegant and vibrant re..."
45955,London Steakhouse Co.,"['British', 'Vegetarian Friendly', 'Gluten Fre...",4.0,3.0,9660.0,"[['Lovely setting and decent food', 'A Christm..."
45945,"Oxo Tower Restaurant, Bar and Brasserie","['British', 'Vegetarian Friendly', 'Vegan Opti...",4.5,3.0,7794.0,"[['British Cuisine at its best!', 'Beautiful v..."
46020,The Wolseley,"['European', 'British', 'Vegetarian Friendly',...",4.0,3.0,6275.0,"[['A nice way to spend an afternoon', 'The Wos..."
46139,Hutong,"['Chinese', 'Asian', 'Vegetarian Friendly', 'V...",4.0,3.0,5216.0,[['You go for the view and are surprised by t....

In [14]:
LdnData.shape

(18212, 6)

In [15]:
style = LdnData['Cuisine Style']

In [21]:
LdnData['Reviews'].iloc[2]

"[['British Cuisine at its best!', 'Beautiful views and excellent customer ser...'], ['01/08/2018', '01/07/2018']]"