In [84]:
pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Collecting scikit-learn
  Downloading scikit_learn-1.0.2-cp37-cp37m-macosx_10_13_x86_64.whl (7.8 MB)
     |████████████████████████████████| 7.8 MB 5.5 MB/s eta 0:00:01
Requirement already satisfied: joblib>=0.11 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from scikit-learn->sklearn) (0.17.0)
Requirement already satisfied: numpy>=1.14.6 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.21.0)
Requirement already satisfied: scipy>=1.1.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.7.3)
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1315 sha256=6564d603f3a9b151fdf95b0a559902ed37ecd11eff31fd5a6000cb4fac1b712d
  Stored in directory: /Users/pattarathon/Library/Caches/pip/wheels/46/ef/c3/157e41f5ee1372d1be90b09f74f82b10e391eaacca8f22d33e
Successfully built sklearn
Installing collected packages: threadpoolctl, scikit-learn, sklearn
Successfully installed scikit-learn-1.0.2 sklearn-0.0 threadpoolctl-3.1.0
WARNING: You are using pip version 21.2.2; however, version 22.0.2 is available.
You should consider upgrading via the '/Library/Frameworks/Python.framework/Versions/3.7/bin/python3.7 -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import sklearn
import math

In [3]:
restaurants = pd.read_csv('./data/TA_restaurants_curated.csv', engine='python');
restaurants = restaurants.drop(columns = ['ID_TA', 'Ranking', 'Unnamed: 0'])
features = restaurants.columns.values

In [4]:
price = restaurants['Price Range']

In [5]:
restaurants['Price Range'] = restaurants['Price Range'].replace('$$$$', 3)
restaurants['Price Range'] = restaurants['Price Range'].replace('$$ - $$$', 2)
restaurants['Price Range'] = restaurants['Price Range'].replace('$', 1)

In [6]:
restaurants.head()

,Name,City,Cuisine Style,Rating,Price Range,Number of Reviews,Reviews,URL_TA
0,Martine of Martine's Table,Amsterdam,"['French', 'Dutch', 'European']",5.0,2.0,136.0,"[['Just like home', 'A Warm Welcome to Wintry ...",/Restaurant_Review-g188590-d11752080-Reviews-M...
1,De Silveren Spiegel,Amsterdam,"['Dutch', 'European', 'Vegetarian Friendly', '...",4.5,3.0,812.0,"[['Great food and staff', 'just perfect'], ['0...",/Restaurant_Review-g188590-d693419-Reviews-De_...
2,La Rive,Amsterdam,"['Mediterranean', 'French', 'International', '...",4.5,3.0,567.0,"[['Satisfaction', 'Delicious old school restau...",/Restaurant_Review-g188590-d696959-Reviews-La_...
3,Vinkeles,Amsterdam,"['French', 'European', 'International', 'Conte...",5.0,3.0,564.0,"[['True five star dinner', 'A superb evening o...",/Restaurant_Review-g188590-d1239229-Reviews-Vi...
4,Librije's Zusje Amsterdam,Amsterdam,"['Dutch', 'European', 'International', 'Vegeta...",4.5,3.0,316.0,"[['Best meal.... EVER', 'super food experience...",/Restaurant_Review-g188590-d6864170-Reviews-Li...

In [7]:
cities = restaurants['City'].unique()

In [8]:
cities

array(['Amsterdam', 'Athens', 'Barcelona', 'Berlin', 'Bratislava',
       'Brussels', 'Budapest', 'Copenhagen', 'Dublin', 'Edinburgh',
       'Geneva', 'Hamburg', 'Helsinki', 'Krakow', 'Lisbon', 'Ljubljana',
       'London', 'Luxembourg', 'Lyon', 'Madrid', 'Milan', 'Munich',
       'Oporto', 'Oslo', 'Paris', 'Prague', 'Rome', 'Stockholm', 'Vienna',
       'Warsaw', 'Zurich'], dtype=object)

In [9]:
London = restaurants.loc[restaurants['City'] == 'London']
print(London.shape, London.columns.values)

(18212, 8) ['Name' 'City' 'Cuisine Style' 'Rating' 'Price Range' 'Number of Reviews'
 'Reviews' 'URL_TA']

In [10]:
LdnData = London.drop(columns = ['City', 'URL_TA'])

In [11]:
LdnData = LdnData.sort_values(by=['Price Range', 'Number of Reviews'], ascending=False);

In [12]:
LdnData.head()

,Name,Cuisine Style,Rating,Price Range,Number of Reviews,Reviews
46329,Aqua Shard,"['European', 'British', 'Contemporary', 'Veget...",4.0,3.0,12910.0,"[['Lunch at the Aqua', 'Elegant and vibrant re..."
45955,London Steakhouse Co.,"['British', 'Vegetarian Friendly', 'Gluten Fre...",4.0,3.0,9660.0,"[['Lovely setting and decent food', 'A Christm..."
45945,"Oxo Tower Restaurant, Bar and Brasserie","['British', 'Vegetarian Friendly', 'Vegan Opti...",4.5,3.0,7794.0,"[['British Cuisine at its best!', 'Beautiful v..."
46020,The Wolseley,"['European', 'British', 'Vegetarian Friendly',...",4.0,3.0,6275.0,"[['A nice way to spend an afternoon', 'The Wos..."
46139,Hutong,"['Chinese', 'Asian', 'Vegetarian Friendly', 'V...",4.0,3.0,5216.0,[['You go for the view and are surprised by t....

In [151]:
LdnData.shape

(18212, 6)

In [152]:
style = LdnData['Cuisine Style']

In [163]:
LdnFeatures = LdnData.drop(columns = ['Number of Reviews'])

In [164]:
LdnFeatures['Reviews'].iloc[0]

"[['Lunch at the Aqua', 'Elegant and vibrant restaurant'], ['01/08/2018', '01/08/2018']]"

In [155]:
#Change Reviews to String
LdnFeatures['Reviews'] = LdnFeatures['Reviews'].str.replace('"', '')
LdnFeatures['Reviews'] = LdnFeatures['Reviews'].str.replace(']', '')
LdnFeatures['Reviews'] = LdnFeatures['Reviews'].str.replace('[', '')
LdnFeatures['Reviews'] = LdnFeatures['Reviews'].str.replace('\'', '')

/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until
/Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages/ipykernel_launcher.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  after removing the cwd from sys.path.

In [156]:
#Split into array per word
LdnFeatures['Reviews'] = LdnFeatures['Reviews'].str.split()

In [157]:
LdnFeatures.head()

,Name,Cuisine Style,Rating,Price Range,Reviews
46329,Aqua Shard,"['European', 'British', 'Contemporary', 'Veget...",4.0,3.0,"[Lunch, at, the, Aqua,, Elegant, and, vibrant,..."
45955,London Steakhouse Co.,"['British', 'Vegetarian Friendly', 'Gluten Fre...",4.0,3.0,"[Lovely, setting, and, decent, food,, A, Chris..."
45945,"Oxo Tower Restaurant, Bar and Brasserie","['British', 'Vegetarian Friendly', 'Vegan Opti...",4.5,3.0,"[British, Cuisine, at, its, best!,, Beautiful,..."
46020,The Wolseley,"['European', 'British', 'Vegetarian Friendly',...",4.0,3.0,"[A, nice, way, to, spend, an, afternoon,, The,..."
46139,Hutong,"['Chinese', 'Asian', 'Vegetarian Friendly', 'V...",4.0,3.0,"[You, go, for, the, view, and, are, surprised,..."

In [165]:
len(LdnFeatures)
LdnFeatures = LdnFeatures.reset_index()

In [166]:
LdnFeatures = LdnFeatures.drop(columns = ['index'])

In [144]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [180]:
tfv = TfidfVectorizer(min_df = 3,  max_features = None, strip_accents='unicode', 
                          analyzer='word', ngram_range=(1, 3),
                          stop_words = 'english'
                         )
LdnFeatures['Reviews'] = LdnFeatures['Reviews'].fillna('')
LdnFeatures['Cuisine Style'] = LdnFeatures['Cuisine Style'].fillna('')

In [168]:
LdnFeatures.head()

,Name,Cuisine Style,Rating,Price Range,Reviews
0,Aqua Shard,"['European', 'British', 'Contemporary', 'Veget...",4.0,3.0,"[['Lunch at the Aqua', 'Elegant and vibrant re..."
1,London Steakhouse Co.,"['British', 'Vegetarian Friendly', 'Gluten Fre...",4.0,3.0,"[['Lovely setting and decent food', 'A Christm..."
2,"Oxo Tower Restaurant, Bar and Brasserie","['British', 'Vegetarian Friendly', 'Vegan Opti...",4.5,3.0,"[['British Cuisine at its best!', 'Beautiful v..."
3,The Wolseley,"['European', 'British', 'Vegetarian Friendly',...",4.0,3.0,"[['A nice way to spend an afternoon', 'The Wos..."
4,Hutong,"['Chinese', 'Asian', 'Vegetarian Friendly', 'V...",4.0,3.0,[['You go for the view and are surprised by t....

In [169]:
X = tfv.fit_transform(LdnFeatures['Reviews'])

In [181]:
Y = tfv.fit_transform(LdnFeatures['Cuisine Style'])

In [170]:
from sklearn.metrics.pairwise import sigmoid_kernel
#For review
sig = sigmoid_kernel(X, X)

In [182]:
#For Cuisine Style
sig2 = sigmoid_kernel(Y, Y)

In [171]:
sig[0]

array([0.76162893, 0.76160611, 0.7616056 , ..., 0.76159416, 0.76159416,
       0.76159416])

In [172]:
indices = pd.Series(LdnFeatures.index, index=LdnFeatures['Name']).drop_duplicates()

In [173]:
indices

Name
Aqua Shard                                     0
London Steakhouse Co.                          1
Oxo Tower Restaurant, Bar and Brasserie        2
The Wolseley                                   3
Hutong                                         4
                                           ...
Aguavit                                    18207
Carluccio's - High Street Kensington       18208
North & Ten                                18209
Shafran                                    18210
Mamak Don                                  18211
Length: 18212, dtype: int64

In [174]:
indices['Aqua Shard']

0

In [200]:
def give_rec(title, sig=sig, sig2=sig2):
    idx = indices[title]
    
    sig_scores1 = list(enumerate(sig[idx]))
    
    sig_scores2 = list(enumerate(sig2[idx]))
    
    print(sig_scores1[1].apply(lambda x: x*0.6))
    
    sig_scores = (sig_scores2[0] * 0.6) + (sig_scores1[0] * 0.4)
    sig_scores = sorted(sig_scores, key=lambda x: x[1], reverse=True)
    
    sig_scores = sig_scores[1:11]
    
    res_indices = [i[0] for i in sig_scores]
    
    return LdnFeatures['Name'].iloc[res_indices]

In [201]:
give_rec('Hutong')

AttributeError: 'tuple' object has no attribute 'apply'